/*RESET*/
@font-face {
    font-family: 'haptik-light';
    src: url('../fonts/GT-Haptik-Light.woff') format('woff')
}

body {
    font-size: 20px;
    line-height: 33px;
    font-family: haptik-light, helvetica, "sans-serif";
    color: #0f0f0f;
    letter-spacing: .06em;
}

a {
    color: #151515;
    text-decoration: none;
}


/*NAVIGATION*/

.brand {
    margin: 0 0 0 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 1rem 0 0;
    float: right;
}

ul li {
    display: inline-block;
}

ul li a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1rem;
}

.show-case {
    width: calc(25% - 15px);
    height: calc((25vw - 15px) * 6 / 8);
}
