@import "_reset";
@font-face {
    font-family: 'haptik-light';
    src: url('../../../mini/fonts/GT-Haptik-Light.woff') format('woff')
}
$font-stack: haptik-light, helvetica, "sans-serif";
$primary-color: #333;
p{
  color: yellow;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
.box { @include transform(rotate(30deg)); }
